<h3>Checkbox Selection</h3>
 
<p-table [columns]="cols" [value]="cars" [scrollable]="true"  dataKey="year" columnResizeMode="fit" [resizableColumns]="true"  scrollHeight="150px"  frozenWidth="150px"  [frozenColumns]="frozenCols">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <ng-container>
              <col style="width: 75px">
            </ng-container>
            <ng-container>
                <col style="width: 75px">
              </ng-container>
            <ng-container *ngFor="let col of columns">
                <col [ngStyle]="{width: '175px'}">
            </ng-container>
        </colgroup>
    </ng-template>
    <ng-template pTemplate="frozenheader" let-columns>
        <tr>
         
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-record>
        <tr  >
            <td >{{record.year}}</td>
            <td>{{record.brand}}</td>
        </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <!-- procude some more rows (without data) -->
        <tr >
    
          <!-- static columns should not be editable -->
         
    
          <!-- scrollable columns should be editable -->
        
          <td *ngFor="let col of columns"  >
            {{rowData[col.field]}}
          </td>
      
        </tr>
        </ng-template>

   
</p-table>
 